/*
BUTTONS
*/
.btn {
  padding: 10px 34px;
}
.btn-default {
  margin-top: 20px;
}
.btn-primary {
  background-color: $yellow;
  border: none;
  color: $blue;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 16px;
}
.btn-primary:hover {
  color: $blue;
  background-color: $light-yellow;
  border: none;
}
.btn-primary.active, .btn-primary:active, .open>.dropdown-toggle.btn-primary, .btn-primary.focus, .btn-primary:focus {
  color: $blue;
  background-color: $light-yellow;
  border: none;
}
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
  color: $blue;
  background-color: $light-yellow;
  border: none;
}

.btn.btn-grey {
  padding: 10px 20px;
}
.btn-grey {
  color: $white;
  background-color: $grey;
  border: none;
  margin-top: 20px;
  font-size: 16px;
}
.btn-grey:hover {
  color: $white;
  background-color: $light-grey;
  border: none;
}
.btn-grey.active, .btn-grey:active, .open>.dropdown-toggle.btn-grey, .btn-grey.focus, .btn-grey:focus {
  color: $white;
  background-color: $light-grey;
  border: none;
}
.btn-grey.active.focus, .btn-grey.active:focus, .btn-grey.active:hover, .btn-grey:active.focus, .btn-grey:active:focus, .btn-grey:active:hover, .open>.dropdown-toggle.btn-grey.focus, .open>.dropdown-toggle.btn-grey:focus, .open>.dropdown-toggle.btn-grey:hover {
  color: $white;
  background-color: $light-grey;
  border: none;
}

.btn.btn-blue {
  padding: 10px 20px;
}
.btn-blue {
  color: $white;
  background-color: $blue;
  border: none;
  margin-top: 20px;
  font-size: 16px;
}
.btn-blue:hover {
  color: $white;
  background-color: $light-blue;
  border: none;
}
.btn-blue.active, .btn-blue:active, .open>.dropdown-toggle.btn-grey, .btn-blue.focus, .btn-blue:focus {
  color: $white;
  background-color: $light-blue;
  border: none;
}
.btn-blue.active.focus, .btn-blue.active:focus, .btn-blue.active:hover, .btn-blue:active.focus, .btn-blue:active:focus, .btn-blue:active:hover, .open>.dropdown-toggle.btn-blue.focus, .open>.dropdown-toggle.btn-blue:focus, .open>.dropdown-toggle.btn-blue:hover {
  color: $white;
  background-color: $light-blue;
  border: none;
}

.btn-facebook {
  color: $white;
  background-color: $fb-blue;
  border: none;
  margin-top: 20px;
  font-weight: $bold;
  font-size: 18px;
}
.btn-facebook:hover {
  color: $white;
  background-color: $light-fb-blue;
  border: none;
}
.btn-facebook.active, .btn-facebook:active, .open>.dropdown-toggle.btn-facebook, .btn-facebook.focus, .btn-facebook:focus {
  color: $white;

  background-color: $light-fb-blue;
  border: none;
}
.btn-facebook.active.focus, .btn-facebook.active:focus, .btn-facebook.active:hover, .btn-facebook:active.focus, .btn-facebook:active:focus, .btn-facebook:active:hover, .open>.dropdown-toggle.btn-facebook.focus, .open>.dropdown-toggle.btn-facebook:focus, .open>.dropdown-toggle.btn-facebook:hover {
  color: $white;
  background-color: $light-fb-blue;
  border: none;
}

.buttons-down {
  float: right;
  margin-top: -20px;
  .btn {
    margin-left: 20px;
    float: right;
  }
}

a.back-link {
  display: block;
  margin-top: 10px;
}