.car-detail-share {
  float: left;
  height: 42px;
  margin: 20px 0 20px 40px;

  i {
    font-size: 24px;
    line-height: 28px;
  }
  a {
    display: block;
    float: left;
    height: 28px;
    margin: 6px 10px;
    text-align: center;
    width: 28px;

    &:hover i{
      color: $light-blue;
    }
  }
}

.car-detail-action {
  margin-top: 20px;

  i {
    font-size: 24px;
    line-height: 28px;
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 20px;
  }
  span {
    float: left;
  }
  a {
    height: 36px;
    text-align: center;
    display: block;

    &:hover i, span{
      color: $light-blue;
    }
  }
}