/*
THUMBNAIL CARDS
*/
.thumbnail.card {
  padding: 0;
  margin-bottom: 30px;
  border: none;
}
.thumbnail.card .caption {
  padding: 40px 50px;
}
.thumbnail.card {
  h3 {
    color: $blue;
    padding-top: 0;
  }
  .value {
    font-weight: $bold;
    font-size: 24px;
  }
  table {
    margin-top: 20px;
    td p {
      padding-right: 20px;
    }
  }
}

.thumbnail.card-small {
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 30px;
  overflow: hidden;
  @include speed-fast;

  .description {
    padding-top: 10px;
    height: 56px;
    overflow: hidden;
  }
  a {
    font-size: 14px;
    padding-top: 4px;
  }
}
.thumbnail.card-small img {
  // @include speed-fast;
}
.thumbnail.card-small:hover {
  // background-color: $light-grey;

  img {
    opacity: 0.65;
  }

  i.card-like {
    display: block;

    &:before { content: "\f08a"; }
    &:hover { &:before { content: "\f004"; } }
  }
}
.thumbnail.card-small .caption {
  padding: 20px 30px;
}
.thumbnail.card-small {
  h3 {
    color: $blue;
    font-size: 20px;
    padding-top: 0;
  }
  .value {
    font-size: 18px;
    font-weight: $bold;
  }
  table {
    margin-top: 20px;
    td p {
      font-size: 14px;
      padding-right: 20px;
    }
  }
}
.thumbnail.card-small i.card-like-active {
  color: $yellow;
  font-size: 32px;
  margin: 20px;
  position: absolute;
  z-index: 10;

  @include tablet {
    display: block;
    font-size: 24px;
  }
}
.thumbnail.card-small i.card-like {
  color: $yellow;
  display: block;
  font-size: 32px;
  margin: 20px;
  position: absolute;
  z-index: 10;

  @include tablet {
    display: block;
    font-size: 24px;
  }
}
.thumbnail.card-small.card-sold {
  img {
    opacity: 0.7;
  }
}
.tag-sold {
  background-color: rgba(0, 0, 0, 0.8);
  height: 30px;
  margin-top: -30px;
  text-align: right;
  display: block;
  position: relative;
  z-index: 10;
  span {
    color: $white;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px;
  }
}
.tag-highlight {
  background-color: rgba(234,200,17,0.8);
  height: 30px;
  margin-top: -30px;
  text-align: right;
  display: block;
  position: relative;
  z-index: 10;
  span {
    color: $blue;
    font-size: 14px;
    line-height: 30px;
    padding: 0 20px;
  }
}

.car-list-search, .car-list-rel {
  .thumbnail.card-small .caption {
    padding: 20px 16px;

    h3 {
      font-size: 18px;
    }
    .value {
      font-size: 16px;
      font-weight: $bold;
    }
    table {
      margin-top: 10px;
      margin-bottom: 20px;
      td p {
        font-size: 12px;
        padding-right: 20px;
      }
    }
    label {
      font-size: 14px;
    }
  }
}

