.row-eq-height {
  display: block;
  display: block;
  display: block;
  display:         block;

  @include tablet {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display:         flex;
  }
}

/*
CONTENT
*/
section.content {
  padding-top: 120px;
  padding-bottom: 40px;
}
section.content-normal {
  padding-top: 40px;
  padding-bottom: 40px;
}
section.content.no-padding {
  padding-top: 60px;
  padding-bottom: 0;
}
section.content-home {
  padding-top: 30px;
  padding-bottom: 40px;
}
section.content-white {
  background-color: $white;
  padding-top: 30px;
  padding-bottom: 40px;
}

section.bg-white {
  background-color: $white;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 120px;
}

.breadcrumb {
  font-size: 14px;
  padding: 8px 15px 8px 0;
  background-color: transparent;
}

.image-pad {
  padding-top: 80px;
}
.image-pad img {
  margin: 0 auto;
}

hr.hr-grey {
  border-top: 1px solid $grey;
  margin-top: 10px;
  margin-bottom: 10px;
}

.padding-row {
  padding: 60px 0;
}

.car-list-row {
  padding: 0 0 60px 0;
}

/*
SIM
*/
.new-sim-button {
  border: 2px dashed $grey;
}
.new-sim-wrapper {
  background-color: $near-white;
  border: 2px solid $light-grey;
  height: 320px;
  margin: 14px;
  padding: 20px;
  text-align: center;
  @include speed-normal;
}
.new-sim-button:hover .new-sim-wrapper {
  background: $light-grey;
  // p,i {
  //   color: $grey;
  // }
}

.new-sim-icon {
  margin-top: 100px;

  p {
    color: $grey;
  }

  i {
    font-size: 46px;
    color: $grey;
  }
}


.place-wrapper {
  background-size: cover;
  padding: 140px 0;
  margin-bottom: 30px;
  text-align: center;

  span {
    color: $white;
    font-size: 32px;
    font-weight: $light;
  }
}

span.address {
  text-align: center;
  display: block;
  margin-bottom: 40px;
}

.map-wrapper {
}

#map {
  width: 100%;
  height: 260px;
}

/*
MODAL WINDOWS
*/
.modal-header {
  border-bottom: none;
}
.modal-header .close {
  margin-top: -2px;
  font-size: 36px;
  color: $blue !important;
  opacity: .75;
}
.modal-body.modal-icon {
  padding-bottom: 60px;
  text-align: center;

  i {
    color: $yellow;
    font-size: 68px;
  }
  span {
    display: block;
    font-size: 24px;
    padding: 10px 0;
  }
}