.favorites-list {
  float: right;
}

.favorite-item {
  float: left;
  margin-right: 6px;
  @include mobile {
    margin-right: 14px;
  }
  img {
    height: 50px;
    width: 50px;
    margin-top: 12px;

    @include mobile {
      height: 60px;
      width: 80px;
      margin-top: 8px;
    }
  }
  i {
    height: 20px;
    width: 20px;
    background: $yellow;
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    border-radius: 12px;
    position: absolute;
    margin-top: -28px;
    // margin-left: 58px;
    margin-left: 24px;

    @include mobile {
      height: 24px;
      width: 24px;
      line-height: 23px;
      border-radius: 12px;
      position: absolute;
      margin-top: -22px;
      margin-left: 64px;
    }
  }
}

.favorite-item-blank {
  float: left;
  margin-right: 6px;
  height: 50px;
  width: 50px;
  border: 1px solid $black;
  margin-top: 12px;

  @include mobile {
    margin-right: 14px;
    height: 60px;
    width: 80px;
    margin-top: 8px;
  }
}

.favorites-close {
  height: 20px;
  width: 20px;
  display: block;
  float: left;
  margin-top: 25px;
  margin-left: 0;

  @include mobile {
    margin-left: 10px;
  }

  i {
    font-size: 24px;
  }
}

h1.favorites-title {
  display: none;
  font-size: 22px;

  @include mobile {
    display: block;
  }

  @include tablet {
    font-size: 28px;
  }
}

.btn.btn-favorites {
  float: left;
  margin-top: 12px;
  margin-right: 6px;
  height: 50px;
  padding: 10px;

  @include mobile {
    float: left;
    margin-top: 8px;
    margin-right: 12px;
    height: 60px;
  }
}