/*
FOOTER
*/
footer {
  background-color: $blue;
}

#pre-footer {
  background-color: $yellow;
  min-height: 85px;
}
.pre-footer-icon {
  display: block;
  text-align: center;
  margin: 20px 0;

  @include tablet {
    text-align: left;
    margin: 0;
  }

  span {
    font-size: 18px;
    height: 40px;
    line-height: 40px;

    @include tablet {
      height: 85px;
      line-height: 85px;
      padding-left: 16px;
    }
  }

  i {
    display: block;
    float: none;
    font-size: 22px;
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    width: 25px;

    @include tablet {
      float: left;
      margin-right: 10px;
      line-height: 80px;
    }
  }
}
a.pre-footer-icon:hover i, a.pre-footer-icon:hover span {
  color: $light-blue;
}

#footer {
  // padding: 30px 0 60px 0;
  padding: 0;

  p {
    color: $white;
    font-size: 12px;
  }
}
.footer-contact {
  color: $white;
  text-align: center;

  @include tablet {
    text-align: left;
  }

  p {
    font-size: 14px;
  }

  i {
    font-size: 22px;
  }

  span {
    font-size: 24px;
    font-style: italic;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
  }
}
.footer-social-icons {
  margin: 0 auto;
  width: 185px;

  @include tablet {
    margin: auto;
    width: auto;
  }

  a i {
    color: $white;
    font-size: 28px;
    padding: 10px;

    &:hover {
      color: $grey;
    }
  }
}
#footer ul {
  li {
    a {
      color: $white;
      font-size: 12px;

      &:hover {
        color: $grey;
      }
    }
  }
}
p.footer-rights {
  padding-top: 10px;
}

.row.padding-top {
  padding-top: 40px;
}