/*
FORMS
*/
form {
  p {
    margin-bottom: 20px;
  }

  p.p-pad {
    margin-top: 20px;
  }

  label {
    font-size: 14px;
  }

  a {
    &.form-link {
      padding-top: 30px;
    }
  }
}

form.form-wide {
  margin: 20px 0;
}

form.form-block {
  padding: 50px;
  background-color: $white;
  // border-radius: 6px;
  border-radius: 0;
  margin: 20px 0;
}

form.form-slider {
  padding: 30px;

  @include desktop {
    padding: 5px 30px;
  }

  .form-control {
    background: none;
    border: none;
    border-bottom: 1px solid $white;
    border-radius: 0;
    color: $white;
    padding: 6px 6px;
    margin-bottom: 6px;

    option {
      background-color: $blue;
      color: $white;
    }
  }
  .btn {
    width: 100%;
    margin-bottom: 10px !important;
  }
  h1 {
    color: $white;
    font-size: 24px;
    padding: 10px 0;
  }
  p {
    margin-bottom: 0;
  }
  a {
    display: block;
    margin-bottom: 5px;
    span, i {
      color: $yellow;
      font-size: 14px;
    }
    i {
      padding-left: 10px;
    }
    &:hover {
      color: $light-yellow;
    }
  }
  table {
    th.half-width {
      width: 50%;
      margin-right: 20px;
    }
  }
}
form.form-slider .form-control:focus {
  box-shadow: none;
}


.home-form {
  background: $blue;
  display: block;
  margin-bottom: 0;
  padding-top: 120px;
  width: 100%;

  @include desktop {
    display: none;
    margin-bottom: 60px;
  }
}

form.form-search {
  background-color: $white;
  padding: 0 4px 16px 4px;

  p {
    margin-bottom: 12px;
    margin-top: 20px;
  }
  label {
    font-size: 13px;
  }
}

form.form-flex {
  padding: 20px;
  margin: 0;
}

.flex-row {
  background-color: $white;
  margin-top: 2px;
  border-radius: 6px;
  margin-bottom: 20px;

  @include tablet {
    margin: 2px 22px 15px 15px;
  }
}

.form-group {
  margin-bottom: 0;
}

.form-control {
  height: 40px;
  margin-bottom: 20px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-register {
  margin-top: 30px;
  p {
    float: left;
    padding-bottom: 0;
    padding-right: 20px;
  }
}

textarea.form-control {
  resize: vertical;
}
