.grid {
  margin-bottom: 20px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  background: $black;
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-item a:hover img {
  opacity: 0.5;
}
