/*
HEADER
*/
header {
  background-color: $white;
  height: 116px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

#pre-header {
  background-color: $near-white;
  float: left;
  height: 40px;
  width: 100%;
}
.pre-header-contact {
  margin: 0 auto;
  float: none !important;
  width: 340px;
  height: 40px;
  @include mobile {
    padding-right: 25px;
    float: right !important;
    width: auto;
  }
}
.pre-header-icon {
  display: block;
  float: left;

  span {
    float: right;
    font-size: 22px;
    font-style: italic;
    height: 40px;
    line-height: 40px;
    margin-left: -10px;
  }

  i {
    font-size: 22px;
    height: 40px;
    line-height: 40px;
    margin: 0;
    @include mobile {
      margin: 0 6px;
    }
    text-align: center;
    width: 40px;
  }
}
a.pre-header-icon:hover i {
  color: $light-blue;
}

#header {
  float: left;
  height: 76px;
  width: 100%;
}

.header-logo {
  float: left;
  height: 76px;
  padding: 12px 30px;
  @include tablet {
    padding: 12px 26px;
  }
  @include desktop {
    padding: 12px 30px;
  }
}

.header-logo img {
  height: 52px;
  width: 186px;
  left: 50%;
  margin-left: -93px;
  position: absolute;

  @include mobile {
    position: relative;
    margin-left: auto;
    left: auto;
  }
}

.header-menu {
  @include reset;
}

.navbar-collapse {
  padding: 0;
}

.header-search {
  display: none;
  float: left;
  position: relative;
  @include tablet {
    display: block;
  }
}
.header-search input {
  border: 2px solid $near-white;
  height: 44px;
  margin: 16px 0;
  padding-left: 40px;

  @include desktop {
    width: 400px;
  }
  @include big {
    width: 640px;
  }
}
.header-search i {
  color: $grey;
  font-size: 24px;
  margin-top: 14px;
  padding: 10px 10px;
  pointer-events: none;
  position: absolute;
}