/*
BUTTONS HOME
*/
.buttons-home {
  margin: 0 15px;
}
.buttons-home-wrapper {
  background-color: $blue;
  border-radius: 4px;
  margin: 60px 0;
  overflow: hidden;
  padding: 0;

  @include tablet {
    background-color: $white;
  }

  i {
    color: $white;
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 40px;
    font-size: 28px;
    text-align: center;
    line-height: 36px;

    @include tablet {
      color: $blue;
    }
  }
  span {
    color: $white;
    display: block;
    text-align: center;
    margin: 0 auto;
    font-size: 18px;

    @include tablet {
      color: $blue;
    }
  }
}
.btn-home {
  padding: 60px 0;
}
.btn-home:hover {
  background-color: $blue;
  // @include speed-normal;

  i, span {
    color: $white;
  }
}
.btn-border-r {
  border-bottom: 1px solid $light-blue;
  border-right: none;
  @include tablet {
    border-bottom: none;
    border-right: 1px solid $near-white;
  }
}

.subscription {
  background-image: url(../img/subscription.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: $white;
  margin-top: 40px;

  @include tablet {
    margin-top: 0;
  }

  p {
    font-size: 14px;
  }
  a {
    color: $yellow;
    &:hover {
      color: $light-yellow;
    }
  }
}

.form-subscription {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  min-height: auto;

  @include tablet {
    height: 440px;
    padding-bottom: 0;
  }
}