.search-list-brands li, .search-list-years li {
  display:none;
}
#view-more-brands, #view-more-years {
  color: $blue;
  cursor: pointer;
  font-size: 14px;
  padding: 20px 0;
}
#view-more-brands:hover, #view-more-years:hover {
  color: $light-blue;
}

.select-half {
  width: 40%;
  float: left;
  margin-right: 10px;
}

.input-wide {
  width: 82%;
  float: left;
  margin-right: 10px;
}

a.btn-right {
  display: block;
  float: left;
  font-size: 18px;
  height: 24px;
  margin-top: 8px;
  width: 24px;
}