/*
NAVIGATION
*/
.navbar {
  border: none;
  margin-bottom: 0;
  min-height: 76px;
  position: relative;
}

.navbar-nav>li>a {
  padding: 0;
}

.nav>li>a {
  padding: 0;
}

ul.nav.navbar-nav {
  width: auto;

  @include mobile {
    width: 400px;
  }
  @include tablet {
    width: auto;
  }

  li {
    background-color: $blue;
    border: none;
    @include mobile {
      border-right: 1px solid #004669;
    }
    display: table;
    height: 76px;
    text-align: center;

    > a {

      display: table-cell;
      padding: 0 10px;
      vertical-align: middle;

      span {
        color: $white;
        display: block;
        font-size: 14px;
        padding-top: 2px;
        text-align: left;

        @include mobile {
          display: none;
          text-align: center;
        }
        @include tablet {
          display: block;
        }
      }

      i {
        color: $white;
        font-size: 20px;
        float: left;
        height: 22px;
        width: 26px;
        margin-right: 20px;
        @include mobile {
          float: none;
          margin-right: auto;
        }
      }
    }

    &:first-child, &:last-child{
      border: none;
    }

    &.nav-blue {
      width: 100%;
      @include mobile {
        width: 100px;
      }

      > a {
        color: $blue;
        padding: 0 30px;
        @include mobile {
          padding: 0;
        }
      }
      &.open {
        font-size: 40px;
      }
    }

    &.nav-highlight {
      background-color: $yellow;
      min-width: 100%;
      @include mobile {
        min-width: 100px;
      }
      @include tablet {
        min-width: 200px;
      }

      span {
        color: $blue;
      }

      i {
        color: $blue;
      }

      > a {
        color: $blue;
        padding: 0 30px;

        &:hover, &:focus {
          background-color: $light-yellow;
        }
      }
    }

    &.nav-search {
      display: block;
      @include mobile {
        display: none;
      }
      input {
        float: left;
        height: 40px;
        margin-left: 20px;
        margin-top: 16px;
        padding-left: 20px;
        width: 70%;
      }
      a.btn-search {
        float: left;
        height: 76px;
        padding-top: 26px;
        padding-left: 28px;
      }
    }
  }
}

.nav.navbar-nav>li>a:focus, .nav.navbar-nav>li>a:hover {
  background-color: $white;

  span {
    color: $blue;
  }
  i {
    color: $blue;
  }
}

.dropdown-menu {
  min-width: 160px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: none;
  border-radius: none;
  -webkit-box-shadow: none;
  box-shadow: none;

  li {
    width: 100%;
    background-color: $white !important;
    border: none !important;
    a {
      color: $blue;

      i {
        float: left !important;
        margin-left: 10px;
        margin-right: 20px;
        @include mobile {
          margin-left: 10px;
          margin-right: 20px !important;
        }
      }
      span {
        display: block !important;
        text-align: left !important;
      }
      span, i {
        color: $blue !important;
      }
    }
  }
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
  background-color: $blue;
  span, i {
    color: $white !important;
  }
}

.dropdown:hover .dropdown-menu {
  @include mobile {
    display: block;
  }
}


/*
MOBILE
*/
.navbar-nav {
  margin: 0;
  @include mobile {
    margin: 0 -15px 0 0;
  }
}
.navbar-collapse {
  max-height: 100% !important;
}
ul.nav.navbar-nav li.nav-blue > a {
  transition: none !important;
}
ul.nav.navbar-nav li.nav-blue.open > a {
  height: 76px;
  padding-top: 26px;
  transition: none !important;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
  width: 100%;
  float: left;
  background-color: $light-blue;


  i, span {
    color: $white;
  }
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover {
  color: $white;
  background-color: $blue;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
  border-bottom: 1px solid $light-grey;
}


/*
TOGGLE
*/
.navbar-toggle {
  margin-top: 22px;
  margin-bottom: 22px;
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 22px;
  margin-right: 0;
  margin-left: 20px;
  margin-bottom: 22px;
  border: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}
.navbar-toggle .icon-bar {
  width: 26px;
  height: 4px;
  border-radius: none;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: $blue;
}