/*
NEWSFEED HOME
*/
.newsfeed {}

.news-item {
  background-color: $white;
  height: auto;
  float: left;
  margin-bottom: 20px;
  overflow: hidden;

  @include tablet {
    height: 210px;
  }
}
.news-item-img {
  height: 200px;
  overflow: hidden;

  @include tablet {
    height: auto;
    overflow: auto;
  }
}
.news-item-img img {
  overflow: hidden;
}
.newsfeed .news-item .news-item-meta {
  padding: 40px 60px;
}
.news-item-meta {
  .news-meta-month {
    font-size: 16px;
    padding-bottom: 6px;
    display: block;
  }
  .news-meta-date {
    font-size: 26px;
    display: block;
    padding-bottom: 10px;
  }
  .news-meta-title {
    font-size: 18px;
    display: block;
  }
  .news-excerpt {
    padding: 20px 0;
  }
}

.thumbnail.card-new {
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 30px;
  overflow: hidden;
  @include speed-fast;
}
.thumbnail.card-new img {
}
.thumbnail.card-new:hover {
}
.thumbnail.card-new .caption {
  padding: 30px 30px;
}
.thumbnail.card-new {
  h3 {
    color: $blue;
    font-size: 20px;
    padding-top: 0;
  }
  .value {
    font-size: 18px;
    font-weight: $bold;
  }
  table {
    margin-top: 20px;
    td p {
      font-size: 14px;
      padding-right: 20px;
    }
  }
}

.card-new-comments {
  margin: 20px;
}
.badge.badge-comments {
  background-color: $blue;
  border-radius: 6px 6px 6px 0;
  font-weight: $regular;
  padding: 10px 12px;
}
.badge.badge-comments:after {
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $blue;
  content: "";
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -12px;
  height: 10px;
  width: 10px;
}

/*
PAGINATION
*/
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: $blue;
  border-color: $blue;
}
.pagination>li>a, .pagination>li>span {
  color: $blue;
}

.tags-wrapper {
  display: block;
  height: auto;
  float: left;
  padding-bottom: 30px;
  width: 100%;
}

.btn.btn-tag {
  background: transparent;
  float: left;
  padding: 12px 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/*
CATEGORIES
*/
.cat-wrapper {
  padding-bottom: 30px;

  ul > li.cat-link {
    font-size: 14px;
    padding: 4px 0;
  }
}

/*
POPULAR NEWS
*/
.popular-news-item {
  margin-bottom: 20px;
}

.popular-news-item-img {
  float: left;
  height: 90px;
  overflow: hidden;
  margin-right: 16px;
  width: 120px;
}

.popular-news-item-meta {
  height: 90px;
  width: auto;

  .popular-meta-title {
    display: block;
    padding-bottom: 10px;
    width: auto;
  }
  .popular-meta-date {
    display: block;
    font-size: 14px;
    width: auto;
  }
}

/*
COMMENTS
*/
.comment-item {
  margin: 20px 0 40px 0;

  .comment-name {
    display: block;
    color: $blue;
    font-weight: $bold;
    padding-bottom: 8px;
    width: auto;
  }
  .comment-date {
    display: block;
    font-weight: $light;
    padding-bottom: 20px;
    width: auto;
  }
}