 .search-results {
  padding: 0;
  margin-top: 40px;
  @include tablet {
    margin-top: 0;
  }

  p {
    font-size: 14px;
    float: left;
    margin-right: 10px;
    line-height: 20px;
    @include desktop {
      line-height: 40px;
    }
  }
 }

.order-by {
  float: left;
  margin-top: 20px;
  @include tablet {
    float: right;
    margin-top: 0;
  }
}

select.search-order {
  width: 240px;
}

.filter-item {
  background-color: $near-white;
  float: left;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;

  span {
    color: $blue;
  }
  i {
    color: $blue;
    font-size: 20px;
  }
  a {
    height: 20px;
    width: 20px;
  }
}

p.search-title {
  width: 100%;
  float: left;
}