.slider {
  // margin-top: 200px;
  background-color: $grey;
  height: 680px;

  @include desktop {
    height: 660px;
  }
  @include big {
    height: 720px;
  }
  padding: 0;
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 0;
  @include desktop {
    padding-top: 116px;
  }
}
.swiper-slide {
  background-size: cover !important;
  background-position: center center !important;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 20px;
  @include tablet {
    right: 140px;
  }
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 20px;
  @include tablet {
    left: 140px;
  }
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  margin-bottom: 120px;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 10px;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: $white;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: $yellow;
}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23eac811'%2F%3E%3C%2Fsvg%3E");
  padding: 20px;
  height: 50px;
  width: 50px;

  @include tablet {
    height: 80px;
    width: 80px;
  }
}
.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23eac811'%2F%3E%3C%2Fsvg%3E");
  padding: 20px;
  height: 50px;
  width: 50px;

  @include tablet {
    height: 80px;
    width: 80px;
  }
}

.slider-call-to-action {
  background: rgba(0,0,0,0.75);
  height: 100px;
  margin-top: -100px;
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 15px 0;

  @include mobile {
    padding: 30px 0;
  }

  h1 {
    color: $white;
    font-size: 36px;
    font-weight: $light;
    line-height: 36px;
  }

  h2 {
    color: $white;
    font-size: 20px;
    font-weight: $light;
    line-height: 34px;
    text-align: center;
    // float: left;

    @include mobile {
      font-size: 24px;
      text-align: left;
    }

    a {
      padding-left: 0;
      color: $yellow;
      display: block;

      @include mobile {
        padding-left: 20px;
        display: inline-block;
      }

      &:hover {
        color: $light-yellow;
      }
    }
  }
}

.slider-call-to-action.car-title {
  background: rgba(0,0,0,0.75);
  height: 150px;
  margin-top: -150px;
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 24px 0;

  @include mobile {
    padding: 38px 0;
  }
}

.swiper-form {
  background: rgba(0,59,89,0.75);
  display: none;
  position: absolute;
  width: 380px;
  z-index: 99;

  @include desktop {
    display: block;
  }

  @include desktop {
    right: 10%;
    top: 20%;
  }
  @include big {
    right: 10%;
    top: 24%;
  }
}

a.slider-car-meta {
  margin-left: 10%;
  margin-top: 8%;
  display: block;

  span.slider-car-name {
    color: $white;
    display: block;
    font-size: 28px;
    font-weight: $bold;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
    @include mobile {
      text-shadow: none;
    }

    i {
      margin-left: 10px;
      font-size: 20px;
    }
  }
  span.slider-car-price {
    color: $white;
    display: block;
    font-size: 16px;
    font-weight: $bold;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.6);
    @include mobile {
      text-shadow: none;
    }
  }
}