/*
NAV LATERAL
*/
.side-nav-off {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.side-nav {
  background-color: $yellow;
  left: 0;
  position: fixed;
  top: 35%;
  transition: opacity 0.5s ease-in-out;
  width: 70px;
  z-index: 10;
}
a.side-nav-item {
  padding: 20px 0;
  display: block;
  height: 80px;

  i {
    display: block;
    font-size: 20px;
    text-align: center;
  }
  span {
    float: left;
    font-size: 12px;
    line-height: 12px;
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 70px;
  }

  &:hover {
    background-color: $blue;
    color: $white;
  }
  &:hover i, &:hover span {
    color: $white;
  }
}