/*
TABLES
*/
table.table-details {
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
}
table.table-auto {
  font-size: 16px;
  line-height: 36px;
  margin-top: 20px;
  width: 100%;

  i {
    color: $yellow;
    font-size: 24px;
  }
}
table.table-resume {
  font-size: 18px;
  margin-top: 20px;
  width: 100%;
}
.t-right {
  text-align: right;
}
.t-left {
  text-align: left;
}
.t-left.t-f-left {
  float: left;
}
.t-right.t-f-right {
  float: right;
}
td.t-left img {
  width: 80px;

  @include desktop {
    width: 120px;
  }
}

table#compare-cars {
  width: 100%;
  margin-bottom: 140px;

  span.car-name {
    padding-top: 20px;
    font-size: 16px;
    color: $blue;
    font-weight: $light;
    display: block;
  }
  span.car-price {
    font-weight: $bold;
    color: $black;
    font-size: 16px;
    display: block;
  }
  td,th {
    padding: 8px 12px;
  }
  tbody tr:nth-child(even)  td { background-color: $white; }
  @media screen and (max-width: 640px) {
    table {
      overflow-x: auto;
      display: block;
    }
  }

  img {
    width: 200px;
  }

  i {
    color: $blue;
  }
}

table.stacktable.small-only {
  width: 100%;
  margin-bottom: 140px;
  display: table;

  @include mobile {
    display: none;
  }

  span.car-name {
    padding-top: 20px;
    font-size: 16px;
    color: $blue;
    font-weight: $light;
    display: block;
  }
  span.car-price {
    font-weight: $bold;
    color: $black;
    font-size: 16px;
    display: block;
  }

  td,th {
    padding: 8px 12px;
  }
  tbody tr:nth-child(even)  td { background-color: $white; }
  @media screen and (max-width: 640px) {
    table {
      overflow-x: auto;
      display: block;
    }
  }

  img {
    width: 200px;
  }

  i {
    color: $blue;
  }

  td.st-key, td.st-val {
    width: 50%;
  }

}

table.stacktable.large-only {
  display: none;
  @include mobile {
    display: table;
  }
}





table {
  border-collapse: collapse;
  border-spacing: 0;
}

