/*
TABS
*/
.nav-tabs {
  border-bottom: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  color: $blue;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid $blue;
}

.nav-tabs > li > a {
  color: $grey;
  font-size: 18px;
  padding: 12px 20px;
}
.nav-tabs>li>a {
  border: none;
  border-radius: 0;
  line-height: 1;
  margin-right: 0;
}
.nav-tabs>li>a:hover {
  border: none;
  background: transparent;
}