// VARIABLES

/* -------------------------------------------------- */
/*  1.0 - GENERAL TEXT ATRIBUTES
/* -------------------------------------------------- */

// Tipography
$open-sans: 'Open Sans', sans-serif;

// Constants
$golden: 1.45;

// Weights
$light: 300;
$regular: 400;
$bold: 700;

// Body Size
// $body-size: em(16px);

// Line Height
$body-line: 1em;

// Letter spacing
$spacing: 0.1em;


/* -------------------------------------------------- */
/*  2.0 - COLORS
/* -------------------------------------------------- */

$black: #000000;
$white: #ffffff;

$yellow: #eac811;
$light-yellow: #fcdf65;
$blue: #003b59;
$light-blue: #00587f;
$near-white: #f2f2f2;
$grey: #bdbdbd;
$light-grey: #d1d1d1;

$fb-blue: #3b5999;
$light-fb-blue: #4e74b7;


/* -------------------------------------------------- */
/*  3.0 - SCREEN SIZES
/* -------------------------------------------------- */

$small-width: 30em; // 480px
$mobile-width: 48em; // 768px
$tablet-width: 62em; // 992px
$desktop-width: 75em; // 1200px
$big-width: 90em; // 1440px