@import "variables";
@import "mixins";
@import "reset";
@import "header";
@import "forms";
@import "buttons";
@import "nav";
@import "stickynav";
@import "cards";
@import "tabs";
@import "tables";
@import "lists";
@import "search";
@import "home";
@import "slider";
@import "car";
@import "grid";
@import "lightbox";
@import "news";
@import "footer";
@import "favorites";
@import "common";


/*
BODY
*/
body {
  background-color: $near-white;
  font-family: $open-sans;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

h1,h2,h3,h4,h5,h6 {
  font-family: $open-sans;
}

h1 {
  font-family: $open-sans;
  font-size: 28px;
  font-weight: $light;
  padding: 20px 0;

  &.h1-home {
    padding: 20px 0 40px 0;
  }
}
h2 {
  font-size: 26px;
  font-weight: $bold;
}
h3 {
  font-size: 26px;
  padding: 12px 0;
  font-weight: $regular;
}
h4 {
  font-size: 22px;
  font-weight: $light;
  padding: 0 0 20px 0 ;
}
h5 {
  font-size: 16px;
  padding: 12px 0;
  font-weight: $regular;
}
h6 {
  font-size: 14px;
  padding: 10px 0;
  font-weight: $bold;
}

h1.center-title {
  text-align: center;
  padding-bottom: 40px;
}

p {
  font-family: $open-sans;
}

p.small-text {
  font-size: 12px;
}

p.form-title {
  padding-left: 16px;
}

p.text-title {
  color: $blue;
  margin-top: 20px;
  font-size: 18px;
}

p.total-value {
  color: $blue;
  font-size: 18px;
}

p.no-margin {
  margin-bottom: 0;
}

p.news-date {
  padding: 20px 0;
}

.col-no-margin {
  margin: 0;
  padding: 0;
}