/* -------------------------------------------------- */
/*  1.0 - GENERAL TEXT ATRIBUTES
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/*  2.0 - COLORS
/* -------------------------------------------------- */
/* -------------------------------------------------- */
/*  3.0 - SCREEN SIZES
/* -------------------------------------------------- */
/* MEDIA QUERIES */
/*
RESET
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

*, *:after, *:before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a, a > * {
  margin: 0;
  padding: 0;
  -webkit-transition: 200ms;
  transition: 200ms;
  outline: none;
  text-decoration: none;
  background: transparent;
  vertical-align: baseline;
  color: #003b59;
}

a:hover, a:focus {
  color: #00587f;
  text-decoration: none;
}

ul {
  list-style: none outside;
}

ol {
  list-style-position: inside;
}

img {
  border: 0;
  height: auto;
  max-width: 100%;
  -ms-interpolation-mode: bicubic;
}

/*
HEADER
*/
header {
  background-color: #ffffff;
  height: 116px;
  position: fixed;
  width: 100%;
  z-index: 99;
}

#pre-header {
  background-color: #f2f2f2;
  float: left;
  height: 40px;
  width: 100%;
}

.pre-header-contact {
  margin: 0 auto;
  float: none !important;
  width: 340px;
  height: 40px;
}
@media only screen and (min-width: 48em) {
  .pre-header-contact {
    padding-right: 25px;
    float: right !important;
    width: auto;
  }
}

.pre-header-icon {
  display: block;
  float: left;
}
.pre-header-icon span {
  float: right;
  font-size: 22px;
  font-style: italic;
  height: 40px;
  line-height: 40px;
  margin-left: -10px;
}
.pre-header-icon i {
  font-size: 22px;
  height: 40px;
  line-height: 40px;
  margin: 0;
  text-align: center;
  width: 40px;
}
@media only screen and (min-width: 48em) {
  .pre-header-icon i {
    margin: 0 6px;
  }
}

a.pre-header-icon:hover i {
  color: #00587f;
}

#header {
  float: left;
  height: 76px;
  width: 100%;
}

.header-logo {
  float: left;
  height: 76px;
  padding: 12px 30px;
}
@media only screen and (min-width: 62em) {
  .header-logo {
    padding: 12px 26px;
  }
}
@media only screen and (min-width: 75em) {
  .header-logo {
    padding: 12px 30px;
  }
}

.header-logo img {
  height: 52px;
  width: 186px;
  left: 50%;
  margin-left: -93px;
  position: absolute;
}
@media only screen and (min-width: 48em) {
  .header-logo img {
    position: relative;
    margin-left: auto;
    left: auto;
  }
}

.header-menu {
  margin: 0;
  padding: 0;
}

.navbar-collapse {
  padding: 0;
}

.header-search {
  display: none;
  float: left;
  position: relative;
}
@media only screen and (min-width: 62em) {
  .header-search {
    display: block;
  }
}

.header-search input {
  border: 2px solid #f2f2f2;
  height: 44px;
  margin: 16px 0;
  padding-left: 40px;
}
@media only screen and (min-width: 75em) {
  .header-search input {
    width: 400px;
  }
}
@media only screen and (min-width: 90em) {
  .header-search input {
    width: 640px;
  }
}

.header-search i {
  color: #bdbdbd;
  font-size: 24px;
  margin-top: 14px;
  padding: 10px 10px;
  pointer-events: none;
  position: absolute;
}

/*
FORMS
*/
form p {
  margin-bottom: 20px;
}
form p.p-pad {
  margin-top: 20px;
}
form label {
  font-size: 14px;
}
form a.form-link {
  padding-top: 30px;
}

form.form-wide {
  margin: 20px 0;
}

form.form-block {
  padding: 50px;
  background-color: #ffffff;
  border-radius: 0;
  margin: 20px 0;
}

form.form-slider {
  padding: 30px;
}
@media only screen and (min-width: 75em) {
  form.form-slider {
    padding: 5px 30px;
  }
}
form.form-slider .form-control {
  background: none;
  border: none;
  border-bottom: 1px solid #ffffff;
  border-radius: 0;
  color: #ffffff;
  padding: 6px 6px;
  margin-bottom: 6px;
}
form.form-slider .form-control option {
  background-color: #003b59;
  color: #ffffff;
}
form.form-slider .btn {
  width: 100%;
  margin-bottom: 10px !important;
}
form.form-slider h1 {
  color: #ffffff;
  font-size: 24px;
  padding: 10px 0;
}
form.form-slider p {
  margin-bottom: 0;
}
form.form-slider a {
  display: block;
  margin-bottom: 5px;
}
form.form-slider a span, form.form-slider a i {
  color: #eac811;
  font-size: 14px;
}
form.form-slider a i {
  padding-left: 10px;
}
form.form-slider a:hover {
  color: #fcdf65;
}
form.form-slider table th.half-width {
  width: 50%;
  margin-right: 20px;
}

form.form-slider .form-control:focus {
  box-shadow: none;
}

.home-form {
  background: #003b59;
  display: block;
  margin-bottom: 0;
  padding-top: 120px;
  width: 100%;
}
@media only screen and (min-width: 75em) {
  .home-form {
    display: none;
    margin-bottom: 60px;
  }
}

form.form-search {
  background-color: #ffffff;
  padding: 0 4px 16px 4px;
}
form.form-search p {
  margin-bottom: 12px;
  margin-top: 20px;
}
form.form-search label {
  font-size: 13px;
}

form.form-flex {
  padding: 20px;
  margin: 0;
}

.flex-row {
  background-color: #ffffff;
  margin-top: 2px;
  border-radius: 6px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 62em) {
  .flex-row {
    margin: 2px 22px 15px 15px;
  }
}

.form-group {
  margin-bottom: 0;
}

.form-control {
  height: 40px;
  margin-bottom: 20px;
  box-shadow: none;
}

.form-register {
  margin-top: 30px;
}
.form-register p {
  float: left;
  padding-bottom: 0;
  padding-right: 20px;
}

textarea.form-control {
  resize: vertical;
}

/*
BUTTONS
*/
.btn {
  padding: 10px 34px;
}

.btn-default {
  margin-top: 20px;
}

.btn-primary {
  background-color: #eac811;
  border: none;
  color: #003b59;
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 16px;
}

.btn-primary:hover {
  color: #003b59;
  background-color: #fcdf65;
  border: none;
}

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary, .btn-primary.focus, .btn-primary:focus {
  color: #003b59;
  background-color: #fcdf65;
  border: none;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
  color: #003b59;
  background-color: #fcdf65;
  border: none;
}

.btn.btn-grey {
  padding: 10px 20px;
}

.btn-grey {
  color: #ffffff;
  background-color: #bdbdbd;
  border: none;
  margin-top: 20px;
  font-size: 16px;
}

.btn-grey:hover {
  color: #ffffff;
  background-color: #d1d1d1;
  border: none;
}

.btn-grey.active, .btn-grey:active, .open > .dropdown-toggle.btn-grey, .btn-grey.focus, .btn-grey:focus {
  color: #ffffff;
  background-color: #d1d1d1;
  border: none;
}

.btn-grey.active.focus, .btn-grey.active:focus, .btn-grey.active:hover, .btn-grey:active.focus, .btn-grey:active:focus, .btn-grey:active:hover, .open > .dropdown-toggle.btn-grey.focus, .open > .dropdown-toggle.btn-grey:focus, .open > .dropdown-toggle.btn-grey:hover {
  color: #ffffff;
  background-color: #d1d1d1;
  border: none;
}

.btn.btn-blue {
  padding: 10px 20px;
}

.btn-blue {
  color: #ffffff;
  background-color: #003b59;
  border: none;
  margin-top: 20px;
  font-size: 16px;
}

.btn-blue:hover {
  color: #ffffff;
  background-color: #00587f;
  border: none;
}

.btn-blue.active, .btn-blue:active, .open > .dropdown-toggle.btn-grey, .btn-blue.focus, .btn-blue:focus {
  color: #ffffff;
  background-color: #00587f;
  border: none;
}

.btn-blue.active.focus, .btn-blue.active:focus, .btn-blue.active:hover, .btn-blue:active.focus, .btn-blue:active:focus, .btn-blue:active:hover, .open > .dropdown-toggle.btn-blue.focus, .open > .dropdown-toggle.btn-blue:focus, .open > .dropdown-toggle.btn-blue:hover {
  color: #ffffff;
  background-color: #00587f;
  border: none;
}

.btn-facebook {
  color: #ffffff;
  background-color: #3b5999;
  border: none;
  margin-top: 20px;
  font-weight: 700;
  font-size: 18px;
}

.btn-facebook:hover {
  color: #ffffff;
  background-color: #4e74b7;
  border: none;
}

.btn-facebook.active, .btn-facebook:active, .open > .dropdown-toggle.btn-facebook, .btn-facebook.focus, .btn-facebook:focus {
  color: #ffffff;
  background-color: #4e74b7;
  border: none;
}

.btn-facebook.active.focus, .btn-facebook.active:focus, .btn-facebook.active:hover, .btn-facebook:active.focus, .btn-facebook:active:focus, .btn-facebook:active:hover, .open > .dropdown-toggle.btn-facebook.focus, .open > .dropdown-toggle.btn-facebook:focus, .open > .dropdown-toggle.btn-facebook:hover {
  color: #ffffff;
  background-color: #4e74b7;
  border: none;
}

.buttons-down {
  float: right;
  margin-top: -20px;
}
.buttons-down .btn {
  margin-left: 20px;
  float: right;
}

a.back-link {
  display: block;
  margin-top: 10px;
}

/*
NAVIGATION
*/
.navbar {
  border: none;
  margin-bottom: 0;
  min-height: 76px;
  position: relative;
}

.navbar-nav > li > a {
  padding: 0;
}

.nav > li > a {
  padding: 0;
}

ul.nav.navbar-nav {
  width: auto;
}
@media only screen and (min-width: 48em) {
  ul.nav.navbar-nav {
    width: 400px;
  }
}
@media only screen and (min-width: 62em) {
  ul.nav.navbar-nav {
    width: auto;
  }
}
ul.nav.navbar-nav li {
  background-color: #003b59;
  border: none;
  display: table;
  height: 76px;
  text-align: center;
}
@media only screen and (min-width: 48em) {
  ul.nav.navbar-nav li {
    border-right: 1px solid #004669;
  }
}
ul.nav.navbar-nav li > a {
  display: table-cell;
  padding: 0 10px;
  vertical-align: middle;
}
ul.nav.navbar-nav li > a span {
  color: #ffffff;
  display: block;
  font-size: 14px;
  padding-top: 2px;
  text-align: left;
}
@media only screen and (min-width: 48em) {
  ul.nav.navbar-nav li > a span {
    display: none;
    text-align: center;
  }
}
@media only screen and (min-width: 62em) {
  ul.nav.navbar-nav li > a span {
    display: block;
  }
}
ul.nav.navbar-nav li > a i {
  color: #ffffff;
  font-size: 20px;
  float: left;
  height: 22px;
  width: 26px;
  margin-right: 20px;
}
@media only screen and (min-width: 48em) {
  ul.nav.navbar-nav li > a i {
    float: none;
    margin-right: auto;
  }
}
ul.nav.navbar-nav li:first-child, ul.nav.navbar-nav li:last-child {
  border: none;
}
ul.nav.navbar-nav li.nav-blue {
  width: 100%;
}
@media only screen and (min-width: 48em) {
  ul.nav.navbar-nav li.nav-blue {
    width: 100px;
  }
}
ul.nav.navbar-nav li.nav-blue > a {
  color: #003b59;
  padding: 0 30px;
}
@media only screen and (min-width: 48em) {
  ul.nav.navbar-nav li.nav-blue > a {
    padding: 0;
  }
}
ul.nav.navbar-nav li.nav-blue.open {
  font-size: 40px;
}
ul.nav.navbar-nav li.nav-highlight {
  background-color: #eac811;
  min-width: 100%;
}
@media only screen and (min-width: 48em) {
  ul.nav.navbar-nav li.nav-highlight {
    min-width: 100px;
  }
}
@media only screen and (min-width: 62em) {
  ul.nav.navbar-nav li.nav-highlight {
    min-width: 200px;
  }
}
ul.nav.navbar-nav li.nav-highlight span {
  color: #003b59;
}
ul.nav.navbar-nav li.nav-highlight i {
  color: #003b59;
}
ul.nav.navbar-nav li.nav-highlight > a {
  color: #003b59;
  padding: 0 30px;
}
ul.nav.navbar-nav li.nav-highlight > a:hover, ul.nav.navbar-nav li.nav-highlight > a:focus {
  background-color: #fcdf65;
}
ul.nav.navbar-nav li.nav-search {
  display: block;
}
@media only screen and (min-width: 48em) {
  ul.nav.navbar-nav li.nav-search {
    display: none;
  }
}
ul.nav.navbar-nav li.nav-search input {
  float: left;
  height: 40px;
  margin-left: 20px;
  margin-top: 16px;
  padding-left: 20px;
  width: 70%;
}
ul.nav.navbar-nav li.nav-search a.btn-search {
  float: left;
  height: 76px;
  padding-top: 26px;
  padding-left: 28px;
}

.nav.navbar-nav > li > a:focus, .nav.navbar-nav > li > a:hover {
  background-color: #ffffff;
}
.nav.navbar-nav > li > a:focus span, .nav.navbar-nav > li > a:hover span {
  color: #003b59;
}
.nav.navbar-nav > li > a:focus i, .nav.navbar-nav > li > a:hover i {
  color: #003b59;
}

.dropdown-menu {
  min-width: 160px;
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-clip: padding-box;
  border: none;
  border-radius: none;
  box-shadow: none;
}
.dropdown-menu li {
  width: 100%;
  background-color: #ffffff !important;
  border: none !important;
}
.dropdown-menu li a {
  color: #003b59;
}
.dropdown-menu li a i {
  float: left !important;
  margin-left: 10px;
  margin-right: 20px;
}
@media only screen and (min-width: 48em) {
  .dropdown-menu li a i {
    margin-left: 10px;
    margin-right: 20px !important;
  }
}
.dropdown-menu li a span {
  display: block !important;
  text-align: left !important;
}
.dropdown-menu li a span, .dropdown-menu li a i {
  color: #003b59 !important;
}

.dropdown-menu > li > a:focus, .dropdown-menu > li > a:hover {
  background-color: #003b59;
}
.dropdown-menu > li > a:focus span, .dropdown-menu > li > a:focus i, .dropdown-menu > li > a:hover span, .dropdown-menu > li > a:hover i {
  color: #ffffff !important;
}

@media only screen and (min-width: 48em) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}

/*
MOBILE
*/
.navbar-nav {
  margin: 0;
}
@media only screen and (min-width: 48em) {
  .navbar-nav {
    margin: 0 -15px 0 0;
  }
}

.navbar-collapse {
  max-height: 100% !important;
}

ul.nav.navbar-nav li.nav-blue > a {
  -webkit-transition: none !important;
          transition: none !important;
}

ul.nav.navbar-nav li.nav-blue.open > a {
  height: 76px;
  padding-top: 26px;
  -webkit-transition: none !important;
          transition: none !important;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover {
  width: 100%;
  float: left;
  background-color: #00587f;
}
.navbar-default .navbar-nav > .open > a i, .navbar-default .navbar-nav > .open > a span, .navbar-default .navbar-nav > .open > a:focus i, .navbar-default .navbar-nav > .open > a:focus span, .navbar-default .navbar-nav > .open > a:hover i, .navbar-default .navbar-nav > .open > a:hover span {
  color: #ffffff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus, .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
  color: #ffffff;
  background-color: #003b59;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  border-bottom: 1px solid #d1d1d1;
}

/*
TOGGLE
*/
.navbar-toggle {
  margin-top: 22px;
  margin-bottom: 22px;
  position: relative;
  float: left;
  padding: 9px 10px;
  margin-top: 22px;
  margin-right: 0;
  margin-left: 20px;
  margin-bottom: 22px;
  border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

.navbar-toggle .icon-bar {
  width: 26px;
  height: 4px;
  border-radius: none;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #003b59;
}

/*
NAV LATERAL
*/
.side-nav-off {
  opacity: 0;
  -webkit-transition: opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
}

.side-nav {
  background-color: #eac811;
  left: 0;
  position: fixed;
  top: 35%;
  -webkit-transition: opacity 0.5s ease-in-out;
          transition: opacity 0.5s ease-in-out;
  width: 70px;
  z-index: 10;
}

a.side-nav-item {
  padding: 20px 0;
  display: block;
  height: 80px;
}
a.side-nav-item i {
  display: block;
  font-size: 20px;
  text-align: center;
}
a.side-nav-item span {
  float: left;
  font-size: 12px;
  line-height: 12px;
  padding-top: 10px;
  text-align: center;
  text-decoration: none;
  width: 70px;
}
a.side-nav-item:hover {
  background-color: #003b59;
  color: #ffffff;
}
a.side-nav-item:hover i, a.side-nav-item:hover span {
  color: #ffffff;
}

/*
THUMBNAIL CARDS
*/
.thumbnail.card {
  padding: 0;
  margin-bottom: 30px;
  border: none;
}

.thumbnail.card .caption {
  padding: 40px 50px;
}

.thumbnail.card h3 {
  color: #003b59;
  padding-top: 0;
}
.thumbnail.card .value {
  font-weight: 700;
  font-size: 24px;
}
.thumbnail.card table {
  margin-top: 20px;
}
.thumbnail.card table td p {
  padding-right: 20px;
}

.thumbnail.card-small {
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-transition: 200ms;
  transition: 200ms;
}
.thumbnail.card-small .description {
  padding-top: 10px;
  height: 56px;
  overflow: hidden;
}
.thumbnail.card-small a {
  font-size: 14px;
  padding-top: 4px;
}

.thumbnail.card-small:hover img {
  opacity: 0.65;
}
.thumbnail.card-small:hover i.card-like {
  display: block;
}
.thumbnail.card-small:hover i.card-like:before {
  content: "\f08a";
}
.thumbnail.card-small:hover i.card-like:hover:before {
  content: "\f004";
}

.thumbnail.card-small .caption {
  padding: 20px 30px;
}

.thumbnail.card-small h3 {
  color: #003b59;
  font-size: 20px;
  padding-top: 0;
}
.thumbnail.card-small .value {
  font-size: 18px;
  font-weight: 700;
}
.thumbnail.card-small table {
  margin-top: 20px;
}
.thumbnail.card-small table td p {
  font-size: 14px;
  padding-right: 20px;
}

.thumbnail.card-small i.card-like-active {
  color: #eac811;
  font-size: 32px;
  margin: 20px;
  position: absolute;
  z-index: 10;
}
@media only screen and (min-width: 62em) {
  .thumbnail.card-small i.card-like-active {
    display: block;
    font-size: 24px;
  }
}

.thumbnail.card-small i.card-like {
  color: #eac811;
  display: block;
  font-size: 32px;
  margin: 20px;
  position: absolute;
  z-index: 10;
}
@media only screen and (min-width: 62em) {
  .thumbnail.card-small i.card-like {
    display: block;
    font-size: 24px;
  }
}

.thumbnail.card-small.card-sold img {
  opacity: 0.7;
}

.tag-sold {
  background-color: rgba(0, 0, 0, 0.8);
  height: 30px;
  margin-top: -30px;
  text-align: right;
  display: block;
  position: relative;
  z-index: 10;
}
.tag-sold span {
  color: #ffffff;
  font-size: 14px;
  line-height: 30px;
  padding: 0 20px;
}

.tag-highlight {
  background-color: rgba(234, 200, 17, 0.8);
  height: 30px;
  margin-top: -30px;
  text-align: right;
  display: block;
  position: relative;
  z-index: 10;
}
.tag-highlight span {
  color: #003b59;
  font-size: 14px;
  line-height: 30px;
  padding: 0 20px;
}

.car-list-search .thumbnail.card-small .caption, .car-list-rel .thumbnail.card-small .caption {
  padding: 20px 16px;
}
.car-list-search .thumbnail.card-small .caption h3, .car-list-rel .thumbnail.card-small .caption h3 {
  font-size: 18px;
}
.car-list-search .thumbnail.card-small .caption .value, .car-list-rel .thumbnail.card-small .caption .value {
  font-size: 16px;
  font-weight: 700;
}
.car-list-search .thumbnail.card-small .caption table, .car-list-rel .thumbnail.card-small .caption table {
  margin-top: 10px;
  margin-bottom: 20px;
}
.car-list-search .thumbnail.card-small .caption table td p, .car-list-rel .thumbnail.card-small .caption table td p {
  font-size: 12px;
  padding-right: 20px;
}
.car-list-search .thumbnail.card-small .caption label, .car-list-rel .thumbnail.card-small .caption label {
  font-size: 14px;
}

/*
TABS
*/
.nav-tabs {
  border-bottom: none;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
  color: #003b59;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #003b59;
}

.nav-tabs > li > a {
  color: #bdbdbd;
  font-size: 18px;
  padding: 12px 20px;
}

.nav-tabs > li > a {
  border: none;
  border-radius: 0;
  line-height: 1;
  margin-right: 0;
}

.nav-tabs > li > a:hover {
  border: none;
  background: transparent;
}

/*
TABLES
*/
table.table-details {
  font-size: 14px;
  margin-top: 10px;
  width: 100%;
}

table.table-auto {
  font-size: 16px;
  line-height: 36px;
  margin-top: 20px;
  width: 100%;
}
table.table-auto i {
  color: #eac811;
  font-size: 24px;
}

table.table-resume {
  font-size: 18px;
  margin-top: 20px;
  width: 100%;
}

.t-right {
  text-align: right;
}

.t-left {
  text-align: left;
}

.t-left.t-f-left {
  float: left;
}

.t-right.t-f-right {
  float: right;
}

td.t-left img {
  width: 80px;
}
@media only screen and (min-width: 75em) {
  td.t-left img {
    width: 120px;
  }
}

table#compare-cars {
  width: 100%;
  margin-bottom: 140px;
}
table#compare-cars span.car-name {
  padding-top: 20px;
  font-size: 16px;
  color: #003b59;
  font-weight: 300;
  display: block;
}
table#compare-cars span.car-price {
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  display: block;
}
table#compare-cars td, table#compare-cars th {
  padding: 8px 12px;
}
table#compare-cars tbody tr:nth-child(even) td {
  background-color: #ffffff;
}
@media screen and (max-width: 640px) {
  table#compare-cars table {
    overflow-x: auto;
    display: block;
  }
}
table#compare-cars img {
  width: 200px;
}
table#compare-cars i {
  color: #003b59;
}

table.stacktable.small-only {
  width: 100%;
  margin-bottom: 140px;
  display: table;
}
@media only screen and (min-width: 48em) {
  table.stacktable.small-only {
    display: none;
  }
}
table.stacktable.small-only span.car-name {
  padding-top: 20px;
  font-size: 16px;
  color: #003b59;
  font-weight: 300;
  display: block;
}
table.stacktable.small-only span.car-price {
  font-weight: 700;
  color: #000000;
  font-size: 16px;
  display: block;
}
table.stacktable.small-only td, table.stacktable.small-only th {
  padding: 8px 12px;
}
table.stacktable.small-only tbody tr:nth-child(even) td {
  background-color: #ffffff;
}
@media screen and (max-width: 640px) {
  table.stacktable.small-only table {
    overflow-x: auto;
    display: block;
  }
}
table.stacktable.small-only img {
  width: 200px;
}
table.stacktable.small-only i {
  color: #003b59;
}
table.stacktable.small-only td.st-key, table.stacktable.small-only td.st-val {
  width: 50%;
}

table.stacktable.large-only {
  display: none;
}
@media only screen and (min-width: 48em) {
  table.stacktable.large-only {
    display: table;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.search-list-brands li, .search-list-years li {
  display: none;
}

#view-more-brands, #view-more-years {
  color: #003b59;
  cursor: pointer;
  font-size: 14px;
  padding: 20px 0;
}

#view-more-brands:hover, #view-more-years:hover {
  color: #00587f;
}

.select-half {
  width: 40%;
  float: left;
  margin-right: 10px;
}

.input-wide {
  width: 82%;
  float: left;
  margin-right: 10px;
}

a.btn-right {
  display: block;
  float: left;
  font-size: 18px;
  height: 24px;
  margin-top: 8px;
  width: 24px;
}

.search-results {
  padding: 0;
  margin-top: 40px;
}
@media only screen and (min-width: 62em) {
  .search-results {
    margin-top: 0;
  }
}
.search-results p {
  font-size: 14px;
  float: left;
  margin-right: 10px;
  line-height: 20px;
}
@media only screen and (min-width: 75em) {
  .search-results p {
    line-height: 40px;
  }
}

.order-by {
  float: left;
  margin-top: 20px;
}
@media only screen and (min-width: 62em) {
  .order-by {
    float: right;
    margin-top: 0;
  }
}

select.search-order {
  width: 240px;
}

.filter-item {
  background-color: #f2f2f2;
  float: left;
  height: 40px;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}
.filter-item span {
  color: #003b59;
}
.filter-item i {
  color: #003b59;
  font-size: 20px;
}
.filter-item a {
  height: 20px;
  width: 20px;
}

p.search-title {
  width: 100%;
  float: left;
}

/*
BUTTONS HOME
*/
.buttons-home {
  margin: 0 15px;
}

.buttons-home-wrapper {
  background-color: #003b59;
  border-radius: 4px;
  margin: 60px 0;
  overflow: hidden;
  padding: 0;
}
@media only screen and (min-width: 62em) {
  .buttons-home-wrapper {
    background-color: #ffffff;
  }
}
.buttons-home-wrapper i {
  color: #ffffff;
  display: block;
  margin: 0 auto;
  height: 40px;
  width: 40px;
  font-size: 28px;
  text-align: center;
  line-height: 36px;
}
@media only screen and (min-width: 62em) {
  .buttons-home-wrapper i {
    color: #003b59;
  }
}
.buttons-home-wrapper span {
  color: #ffffff;
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 18px;
}
@media only screen and (min-width: 62em) {
  .buttons-home-wrapper span {
    color: #003b59;
  }
}

.btn-home {
  padding: 60px 0;
}

.btn-home:hover {
  background-color: #003b59;
}
.btn-home:hover i, .btn-home:hover span {
  color: #ffffff;
}

.btn-border-r {
  border-bottom: 1px solid #00587f;
  border-right: none;
}
@media only screen and (min-width: 62em) {
  .btn-border-r {
    border-bottom: none;
    border-right: 1px solid #f2f2f2;
  }
}

.subscription {
  background-image: url(../img/subscription.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: #ffffff;
  margin-top: 40px;
}
@media only screen and (min-width: 62em) {
  .subscription {
    margin-top: 0;
  }
}
.subscription p {
  font-size: 14px;
}
.subscription a {
  color: #eac811;
}
.subscription a:hover {
  color: #fcdf65;
}

.form-subscription {
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  min-height: auto;
}
@media only screen and (min-width: 62em) {
  .form-subscription {
    height: 440px;
    padding-bottom: 0;
  }
}

.slider {
  background-color: #bdbdbd;
  height: 680px;
  padding: 0;
}
@media only screen and (min-width: 75em) {
  .slider {
    height: 660px;
  }
}
@media only screen and (min-width: 90em) {
  .slider {
    height: 720px;
  }
}

.swiper-container {
  width: 100%;
  height: 100%;
  padding-top: 0;
}
@media only screen and (min-width: 75em) {
  .swiper-container {
    padding-top: 116px;
  }
}

.swiper-slide {
  background-size: cover !important;
  background-position: center center !important;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  right: 20px;
}
@media only screen and (min-width: 62em) {
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    right: 140px;
  }
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  left: 20px;
}
@media only screen and (min-width: 62em) {
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    left: 140px;
  }
}

.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets {
  margin-bottom: 120px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 10px;
}

.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  background: #ffffff;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background: #eac811;
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23eac811'%2F%3E%3C%2Fsvg%3E");
  padding: 20px;
  height: 50px;
  width: 50px;
}
@media only screen and (min-width: 62em) {
  .swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    height: 80px;
    width: 80px;
  }
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-color: rgba(0, 0, 0, 0.4);
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23eac811'%2F%3E%3C%2Fsvg%3E");
  padding: 20px;
  height: 50px;
  width: 50px;
}
@media only screen and (min-width: 62em) {
  .swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    height: 80px;
    width: 80px;
  }
}

.slider-call-to-action {
  background: rgba(0, 0, 0, 0.75);
  height: 100px;
  margin-top: -100px;
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 15px 0;
}
@media only screen and (min-width: 48em) {
  .slider-call-to-action {
    padding: 30px 0;
  }
}
.slider-call-to-action h1 {
  color: #ffffff;
  font-size: 36px;
  font-weight: 300;
  line-height: 36px;
}
.slider-call-to-action h2 {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
  line-height: 34px;
  text-align: center;
}
@media only screen and (min-width: 48em) {
  .slider-call-to-action h2 {
    font-size: 24px;
    text-align: left;
  }
}
.slider-call-to-action h2 a {
  padding-left: 0;
  color: #eac811;
  display: block;
}
@media only screen and (min-width: 48em) {
  .slider-call-to-action h2 a {
    padding-left: 20px;
    display: inline-block;
  }
}
.slider-call-to-action h2 a:hover {
  color: #fcdf65;
}

.slider-call-to-action.car-title {
  background: rgba(0, 0, 0, 0.75);
  height: 150px;
  margin-top: -150px;
  position: absolute;
  z-index: 99;
  width: 100%;
  padding: 24px 0;
}
@media only screen and (min-width: 48em) {
  .slider-call-to-action.car-title {
    padding: 38px 0;
  }
}

.swiper-form {
  background: rgba(0, 59, 89, 0.75);
  display: none;
  position: absolute;
  width: 380px;
  z-index: 99;
}
@media only screen and (min-width: 75em) {
  .swiper-form {
    display: block;
  }
}
@media only screen and (min-width: 75em) {
  .swiper-form {
    right: 10%;
    top: 20%;
  }
}
@media only screen and (min-width: 90em) {
  .swiper-form {
    right: 10%;
    top: 24%;
  }
}

a.slider-car-meta {
  margin-left: 10%;
  margin-top: 8%;
  display: block;
}
a.slider-car-meta span.slider-car-name {
  color: #ffffff;
  display: block;
  font-size: 28px;
  font-weight: 700;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
@media only screen and (min-width: 48em) {
  a.slider-car-meta span.slider-car-name {
    text-shadow: none;
  }
}
a.slider-car-meta span.slider-car-name i {
  margin-left: 10px;
  font-size: 20px;
}
a.slider-car-meta span.slider-car-price {
  color: #ffffff;
  display: block;
  font-size: 16px;
  font-weight: 700;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}
@media only screen and (min-width: 48em) {
  a.slider-car-meta span.slider-car-price {
    text-shadow: none;
  }
}

.car-detail-share {
  float: left;
  height: 42px;
  margin: 20px 0 20px 40px;
}
.car-detail-share i {
  font-size: 24px;
  line-height: 28px;
}
.car-detail-share a {
  display: block;
  float: left;
  height: 28px;
  margin: 6px 10px;
  text-align: center;
  width: 28px;
}
.car-detail-share a:hover i {
  color: #00587f;
}

.car-detail-action {
  margin-top: 20px;
}
.car-detail-action i {
  font-size: 24px;
  line-height: 28px;
  width: 32px;
  height: 32px;
  float: left;
  margin-right: 20px;
}
.car-detail-action span {
  float: left;
}
.car-detail-action a {
  height: 36px;
  text-align: center;
  display: block;
}
.car-detail-action a:hover i, .car-detail-action a span {
  color: #00587f;
}

.grid {
  margin-bottom: 20px;
}

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-sizer,
.grid-item {
  width: 33.333%;
}

.grid-item {
  background: #000000;
  float: left;
}

.grid-item img {
  display: block;
  max-width: 100%;
}

.grid-item a:hover img {
  opacity: 0.5;
}

/*!
 * Lightbox for Bootstrap 3 by @ashleydw
 * https://github.com/ashleydw/lightbox
 *
 * License: https://github.com/ashleydw/lightbox/blob/master/LICENSE
 */
.ekko-lightbox-container {
  position: relative;
}

.ekko-lightbox-nav-overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

.ekko-lightbox-nav-overlay a {
  z-index: 100;
  display: block;
  width: 49%;
  height: 100%;
  font-size: 30px;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
  opacity: 0;
  -webkit-filter: dropshadow(color=#000000, offx=2, offy=2);
          filter: dropshadow(color=#000000, offx=2, offy=2);
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.ekko-lightbox-nav-overlay a:empty {
  width: 49%;
}

.ekko-lightbox a:hover {
  text-decoration: none;
  opacity: 1;
}

.ekko-lightbox .glyphicon-chevron-left {
  left: 0;
  float: left;
  padding-left: 15px;
  text-align: left;
}

.ekko-lightbox .glyphicon-chevron-right {
  right: 0;
  float: right;
  padding-right: 15px;
  text-align: right;
}

.ekko-lightbox .modal-footer {
  text-align: left;
}

.modal-backdrop.in {
  -webkit-opacity: 0.75;
  -moz-opacity: 0.75;
  opacity: 0.75;
  background-color: #000000;
}

.ekko-lightbox .modal-content {
  box-shadow: none;
  border-radius: 0;
  border: none;
  background-color: transparent;
}

.ekko-lightbox .modal-header {
  border: 0;
  padding-left: 0;
  padding-right: 0;
}

.ekko-lightbox .modal-header .close {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
  color: #fff;
  text-shadow: 0;
  font-weight: 100;
  margin-top: 5px;
  font-size: 40px;
  margin-right: 14px;
}

.ekko-lightbox .modal-header .close:hover {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}

.ekko-lightbox .modal-header h4.modal-title {
  color: #fff;
  display: none;
  font-weight: 100;
  padding: 0;
}

.ekko-lightbox .modal-footer {
  display: none;
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  border: 0;
  color: #fff;
  font-weight: 100;
  padding: 0;
}

.ekko-lightbox-nav-overlay a {
  -webkit-opacity: 0.9;
  -moz-opacity: 0.9;
  opacity: 0.9;
  text-shadow: none;
}

/*
NEWSFEED HOME
*/
.news-item {
  background-color: #ffffff;
  height: auto;
  float: left;
  margin-bottom: 20px;
  overflow: hidden;
}
@media only screen and (min-width: 62em) {
  .news-item {
    height: 210px;
  }
}

.news-item-img {
  height: 200px;
  overflow: hidden;
}
@media only screen and (min-width: 62em) {
  .news-item-img {
    height: auto;
    overflow: auto;
  }
}

.news-item-img img {
  overflow: hidden;
}

.newsfeed .news-item .news-item-meta {
  padding: 40px 60px;
}

.news-item-meta .news-meta-month {
  font-size: 16px;
  padding-bottom: 6px;
  display: block;
}
.news-item-meta .news-meta-date {
  font-size: 26px;
  display: block;
  padding-bottom: 10px;
}
.news-item-meta .news-meta-title {
  font-size: 18px;
  display: block;
}
.news-item-meta .news-excerpt {
  padding: 20px 0;
}

.thumbnail.card-new {
  border: none;
  border-radius: 0;
  padding: 0;
  margin-bottom: 30px;
  overflow: hidden;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.thumbnail.card-new .caption {
  padding: 30px 30px;
}

.thumbnail.card-new h3 {
  color: #003b59;
  font-size: 20px;
  padding-top: 0;
}
.thumbnail.card-new .value {
  font-size: 18px;
  font-weight: 700;
}
.thumbnail.card-new table {
  margin-top: 20px;
}
.thumbnail.card-new table td p {
  font-size: 14px;
  padding-right: 20px;
}

.card-new-comments {
  margin: 20px;
}

.badge.badge-comments {
  background-color: #003b59;
  border-radius: 6px 6px 6px 0;
  font-weight: 400;
  padding: 10px 12px;
}

.badge.badge-comments:after {
  border-left: 0px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #003b59;
  content: "";
  display: block;
  position: absolute;
  margin-top: 10px;
  margin-left: -12px;
  height: 10px;
  width: 10px;
}

/*
PAGINATION
*/
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
  background-color: #003b59;
  border-color: #003b59;
}

.pagination > li > a, .pagination > li > span {
  color: #003b59;
}

.tags-wrapper {
  display: block;
  height: auto;
  float: left;
  padding-bottom: 30px;
  width: 100%;
}

.btn.btn-tag {
  background: transparent;
  float: left;
  padding: 12px 12px;
  margin-right: 10px;
  margin-bottom: 10px;
}

/*
CATEGORIES
*/
.cat-wrapper {
  padding-bottom: 30px;
}
.cat-wrapper ul > li.cat-link {
  font-size: 14px;
  padding: 4px 0;
}

/*
POPULAR NEWS
*/
.popular-news-item {
  margin-bottom: 20px;
}

.popular-news-item-img {
  float: left;
  height: 90px;
  overflow: hidden;
  margin-right: 16px;
  width: 120px;
}

.popular-news-item-meta {
  height: 90px;
  width: auto;
}
.popular-news-item-meta .popular-meta-title {
  display: block;
  padding-bottom: 10px;
  width: auto;
}
.popular-news-item-meta .popular-meta-date {
  display: block;
  font-size: 14px;
  width: auto;
}

/*
COMMENTS
*/
.comment-item {
  margin: 20px 0 40px 0;
}
.comment-item .comment-name {
  display: block;
  color: #003b59;
  font-weight: 700;
  padding-bottom: 8px;
  width: auto;
}
.comment-item .comment-date {
  display: block;
  font-weight: 300;
  padding-bottom: 20px;
  width: auto;
}

/*
FOOTER
*/
footer {
  background-color: #003b59;
}

#pre-footer {
  background-color: #eac811;
  min-height: 85px;
}

.pre-footer-icon {
  display: block;
  text-align: center;
  margin: 20px 0;
}
@media only screen and (min-width: 62em) {
  .pre-footer-icon {
    text-align: left;
    margin: 0;
  }
}
.pre-footer-icon span {
  font-size: 18px;
  height: 40px;
  line-height: 40px;
}
@media only screen and (min-width: 62em) {
  .pre-footer-icon span {
    height: 85px;
    line-height: 85px;
    padding-left: 16px;
  }
}
.pre-footer-icon i {
  display: block;
  float: none;
  font-size: 22px;
  height: 25px;
  line-height: 25px;
  margin: 0 auto;
  width: 25px;
}
@media only screen and (min-width: 62em) {
  .pre-footer-icon i {
    float: left;
    margin-right: 10px;
    line-height: 80px;
  }
}

a.pre-footer-icon:hover i, a.pre-footer-icon:hover span {
  color: #00587f;
}

#footer {
  padding: 0;
}
#footer p {
  color: #ffffff;
  font-size: 12px;
}

.footer-contact {
  color: #ffffff;
  text-align: center;
}
@media only screen and (min-width: 62em) {
  .footer-contact {
    text-align: left;
  }
}
.footer-contact p {
  font-size: 14px;
}
.footer-contact i {
  font-size: 22px;
}
.footer-contact span {
  font-size: 24px;
  font-style: italic;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
}

.footer-social-icons {
  margin: 0 auto;
  width: 185px;
}
@media only screen and (min-width: 62em) {
  .footer-social-icons {
    margin: auto;
    width: auto;
  }
}
.footer-social-icons a i {
  color: #ffffff;
  font-size: 28px;
  padding: 10px;
}
.footer-social-icons a i:hover {
  color: #bdbdbd;
}

#footer ul li a {
  color: #ffffff;
  font-size: 12px;
}
#footer ul li a:hover {
  color: #bdbdbd;
}

p.footer-rights {
  padding-top: 10px;
}

.row.padding-top {
  padding-top: 40px;
}

.favorites-list {
  float: right;
}

.favorite-item {
  float: left;
  margin-right: 6px;
}
@media only screen and (min-width: 48em) {
  .favorite-item {
    margin-right: 14px;
  }
}
.favorite-item img {
  height: 50px;
  width: 50px;
  margin-top: 12px;
}
@media only screen and (min-width: 48em) {
  .favorite-item img {
    height: 60px;
    width: 80px;
    margin-top: 8px;
  }
}
.favorite-item i {
  height: 20px;
  width: 20px;
  background: #eac811;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  border-radius: 12px;
  position: absolute;
  margin-top: -28px;
  margin-left: 24px;
}
@media only screen and (min-width: 48em) {
  .favorite-item i {
    height: 24px;
    width: 24px;
    line-height: 23px;
    border-radius: 12px;
    position: absolute;
    margin-top: -22px;
    margin-left: 64px;
  }
}

.favorite-item-blank {
  float: left;
  margin-right: 6px;
  height: 50px;
  width: 50px;
  border: 1px solid #000000;
  margin-top: 12px;
}
@media only screen and (min-width: 48em) {
  .favorite-item-blank {
    margin-right: 14px;
    height: 60px;
    width: 80px;
    margin-top: 8px;
  }
}

.favorites-close {
  height: 20px;
  width: 20px;
  display: block;
  float: left;
  margin-top: 25px;
  margin-left: 0;
}
@media only screen and (min-width: 48em) {
  .favorites-close {
    margin-left: 10px;
  }
}
.favorites-close i {
  font-size: 24px;
}

h1.favorites-title {
  display: none;
  font-size: 22px;
}
@media only screen and (min-width: 48em) {
  h1.favorites-title {
    display: block;
  }
}
@media only screen and (min-width: 62em) {
  h1.favorites-title {
    font-size: 28px;
  }
}

.btn.btn-favorites {
  float: left;
  margin-top: 12px;
  margin-right: 6px;
  height: 50px;
  padding: 10px;
}
@media only screen and (min-width: 48em) {
  .btn.btn-favorites {
    float: left;
    margin-top: 8px;
    margin-right: 12px;
    height: 60px;
  }
}

.row-eq-height {
  display: block;
  display: block;
  display: block;
  display: block;
}
@media only screen and (min-width: 62em) {
  .row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

/*
CONTENT
*/
section.content {
  padding-top: 120px;
  padding-bottom: 40px;
}

section.content-normal {
  padding-top: 40px;
  padding-bottom: 40px;
}

section.content.no-padding {
  padding-top: 60px;
  padding-bottom: 0;
}

section.content-home {
  padding-top: 30px;
  padding-bottom: 40px;
}

section.content-white {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 40px;
}

section.bg-white {
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-bottom: 120px;
}

.breadcrumb {
  font-size: 14px;
  padding: 8px 15px 8px 0;
  background-color: transparent;
}

.image-pad {
  padding-top: 80px;
}

.image-pad img {
  margin: 0 auto;
}

hr.hr-grey {
  border-top: 1px solid #bdbdbd;
  margin-top: 10px;
  margin-bottom: 10px;
}

.padding-row {
  padding: 60px 0;
}

.car-list-row {
  padding: 0 0 60px 0;
}

/*
SIM
*/
.new-sim-button {
  border: 2px dashed #bdbdbd;
}

.new-sim-wrapper {
  background-color: #f2f2f2;
  border: 2px solid #d1d1d1;
  height: 320px;
  margin: 14px;
  padding: 20px;
  text-align: center;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.new-sim-button:hover .new-sim-wrapper {
  background: #d1d1d1;
}

.new-sim-icon {
  margin-top: 100px;
}
.new-sim-icon p {
  color: #bdbdbd;
}
.new-sim-icon i {
  font-size: 46px;
  color: #bdbdbd;
}

.place-wrapper {
  background-size: cover;
  padding: 140px 0;
  margin-bottom: 30px;
  text-align: center;
}
.place-wrapper span {
  color: #ffffff;
  font-size: 32px;
  font-weight: 300;
}

span.address {
  text-align: center;
  display: block;
  margin-bottom: 40px;
}

#map {
  width: 100%;
  height: 260px;
}

/*
MODAL WINDOWS
*/
.modal-header {
  border-bottom: none;
}

.modal-header .close {
  margin-top: -2px;
  font-size: 36px;
  color: #003b59 !important;
  opacity: .75;
}

.modal-body.modal-icon {
  padding-bottom: 60px;
  text-align: center;
}
.modal-body.modal-icon i {
  color: #eac811;
  font-size: 68px;
}
.modal-body.modal-icon span {
  display: block;
  font-size: 24px;
  padding: 10px 0;
}

/*
BODY
*/
body {
  background-color: #f2f2f2;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: 300;
  padding: 20px 0;
}
h1.h1-home {
  padding: 20px 0 40px 0;
}

h2 {
  font-size: 26px;
  font-weight: 700;
}

h3 {
  font-size: 26px;
  padding: 12px 0;
  font-weight: 400;
}

h4 {
  font-size: 22px;
  font-weight: 300;
  padding: 0 0 20px 0;
}

h5 {
  font-size: 16px;
  padding: 12px 0;
  font-weight: 400;
}

h6 {
  font-size: 14px;
  padding: 10px 0;
  font-weight: 700;
}

h1.center-title {
  text-align: center;
  padding-bottom: 40px;
}

p {
  font-family: "Open Sans", sans-serif;
}

p.small-text {
  font-size: 12px;
}

p.form-title {
  padding-left: 16px;
}

p.text-title {
  color: #003b59;
  margin-top: 20px;
  font-size: 18px;
}

p.total-value {
  color: #003b59;
  font-size: 18px;
}

p.no-margin {
  margin-bottom: 0;
}

p.news-date {
  padding: 20px 0;
}

.col-no-margin {
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=styles.css.map */